/* navbar */
.navbar{
    width: 100%;
    margin: -0.1rem;
}
.nav-link{
    color: black;
    margin: 0.5rem;  
}
.nav-link:hover{
    color: black;
    text-decoration: none;
}

.inscription{ 
    color: white ;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    border: none;
}
.inscription:hover{
    color: white;
}
.connexion{    
    border-radius: 12px;
    border: none;
}

#navbarNav{
    justify-content: center;
    margin-left: 7rem;
    color:#a7a7a73f
}

@media (max-width: 995px){
    .navbar{
        position:fixed;
        z-index: 1000;
        justify-content: center;
    } 
    /* .navbar-nav, 
    .connexion,
    .inscription{
        text-align: center;
    } */
    .connexion{    
        border-radius: 12px;
        border: none;
        width: 42%;
    }
    .inscription{
        border-radius: 12px;
        border: none;
        width: 42%;
        
    }
    #Aprops video{
        width: 100%;
        z-index: 0;
        margin-top:3.1rem;
    }
    .navbar-toggler{
        margin-right: 2rem;
        background-color: #000000;
        border: none;
        color: white;
        border-radius: 10px;
        
    }
    nav{
        max-width: 100%;
    }
    nav img{
        width: 2rem;
    }
    
    .nav-item{
        margin-left: -2rem;
    }
    
        
}

/* Apropos */
.presentation{
    position: absolute;
    z-index: 0;

    right: 0;
    bottom: 0;
    min-width: 100%;
    color: rgba(0, 0, 0, 0.829);
}
.presentation span {
    font-size: 65px;
    font-weight: 550;
}
.presentation img{
    width: 50px;
    margin-top: -1rem;
}
.mecontacter{
    background-color: #011020;
    color: white;
    border-radius: 12px;
    width: 220px;
    height: 55px;
    font-size: 20px;
    font-weight: 550;
    border: none;
    
}
.mecontacter:hover{
    background-color: #1976D2;
    color: white;
    border-radius: 12px;
    width: 220px;
    height: 55px;
    font-size: 20px;
    font-weight: 550;
}
.textimg{
    display: flex;
}
.profil h1{
    color:#1976D2;
    font-weight: 550;
    font-size: 60px;
}
.profil p {
    font-size: 18px;
    font-weight: 500;
    max-width: 800px;
    margin: 2rem;
}

.profil div img {
    max-width: 570px;
    height: 420px;
    margin-top: 2rem;
}
video{
    width: 100%;
    z-index: 0;
}




/* media apropos */

/* media tabletteeeeeeeeeeeeeeeeeee */
@media(min-width: 481px) and (max-width: 810px){
    .presentation{
        top:1rem;
    }

    .presentation span {
        font-size: 45px;
        font-weight: 600;
    }
    .presentation img{
        width: 32px;  
    }
    .presentation .mecontacter{
        width: 180px;
        height: 45px;
        font-size: 15px; 
        top:13rem;
        position: absolute;
        
    }
   
    .profil .textimg{
        flex-direction: column;
    }

    .profil h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 50px;
        margin: -1rem;
    }
    .profil .textimg p {
        font-size: 18px;
        font-weight: 550;
        width: 700px;
        margin: 0.5rem;
        margin-top: 3rem;
        /* margin-right: -2rem; */        
    }
    .mecontacter{
        background-color: #011020;
        color: white;
        border-radius: 5px;
        width: 120px;
        height: 55px;
        font-size: 20px;
        font-weight: 550;
        border: none;
        
    }
    
    .profil div img {
        width: 550px;
        height: 350px;
        margin-left: 5rem;
    }
    video{
        width: 100%;
        height: 100%;
    }
    
}
@media (max-width: 455px) {
    .presentation{
        top:0.5rem;
    }
    
    .presentation span {
        font-size: 18px;
        font-weight: 600;
    }
    .presentation img{
        width: 21px;  
    }
    .presentation .mecontacter{
        width: 90px;
        height: 25px;
        font-size: 12px; 
        top:5rem;
        position: absolute;
        
    }
   
    .profil .textimg{
        flex-direction:column;
        margin: -0.5rem;
        width: 390px;

    }
    .profil h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 30px;
        margin: -1.5rem;
    }
    .profil p {
        margin-left: 0rem;
    }
    .profil .textimg p {
        font-size: 15px;
        font-weight: 550;
        width: 300px;
        margin-top: 3.5rem;
        
    }
    
    .profil div img {
        max-width: 375px;
        height: 320px;
        margin-top: 2rem;
        margin-left: -2rem;
    }
    video{
        width: 100%;
        height: 100%;
    }
    #Apropos img{
        margin: 0rem ;
        width: 80%;
    }

}

/* Competences */
#Compentence{
    margin-top: -3rem;
}
.competence h1{
    color:#1976D2;
    font-weight: 550;
    font-size: 60px;

}

.competence div p {
    font-size: 18px;
    /* font-weight: 550; */
    max-width: 700px;
    margin: 1rem;

}
.competence div h5, h6{
    font-size: 25px;
    font-weight: 550;
    max-width: 600px;
}
.textLigne{
    display: flex;
}
.textExperiences{
    flex-direction: column;
    max-width: 650px;
    margin:2rem 3rem;
}


.ligneCompetence{
    margin-top: -5rem;
}

.ligneCompetence h4{
    font-weight: 550;
}
.ligne1{
    border-top: 5px solid #00FF38;
    width: 350px;
    border-start-end-radius: 5px solid #000000;
}
.lignea{
    border-top: 5px solid #000000;
    width: 100px;
}


.ligne2{
    border-top: 5px solid #fffb00;
    width: 300px;
    border-start-end-radius: 5px solid #000000;
}
.ligneb{
    border-top: 5px solid #000000;
    width: 150px;
}


.ligne3{
    border-top: 5px solid #8812fb;
    width: 350px;
    border-start-end-radius: 5px solid #000000;
}
.lignec{
    border-top: 5px solid #000000;
    width: 100px;
}


.ligne4{
    border-top: 5px solid #ff00ff;
    width: 225px;
    border-start-end-radius: 5px solid #000000;
}
.lignee{
    border-top: 5px solid #000000;
    width: 225px;
}


.ligne5{
    border-top: 5px solid #146589;
    width: 300px;
    border-start-end-radius: 5px solid #000000;
}
.lignef{
    border-top: 5px solid #000000;
    width: 150px;
}


.ligne6{
    border-top: 5px solid #1a5f47;
    width: 150px;
    border-start-end-radius: 5px solid #000000;
}
.ligneg{
    border-top: 5px solid #000000;
    width: 300px;
}

.utilisation{
    margin-top: 5rem;
}
.utilisation h4{
    font-size: 30px;
    font-weight: 550;
    color: #1976D2;
}

.utilisation ul {
    background-color: rgb(204, 211, 211);
    border-radius: 15px;
    max-width: 200px;
    /* height: 100px; */
    padding: 1rem;
    margin: 1rem;
    list-style: none;
    font-weight: 550;
    font-size: 18px;
}

/* media competence */
@media (min-width: 481px) and (max-width: 810px) {
    .competence h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 45px;
        margin: -1rem;   
    }
    .textLigne{
        flex-direction: column;
    }
    .competence .textimg{
        flex-direction: column;
    }
    .textExperiences{
        margin-left: 0.5rem;
        margin-top: 3rem;
    }
    .competence div p {
        font-size: 18px;
        /* font-weight: 550; */
        width: 650px;
        margin: 2rem;
    }
    .competence div p h5{
        font-size: 20px;
        font-weight: 550;
        max-width: 700px;
    }
        
    .ligneCompetence{
        margin-top: 2rem;
        margin-left: 7rem;
    }
    .utilisation{
        justify-content: center;
    }
    .utilisation h4{
        font-size: 20px;
        font-weight: 550;
        color: #1976D2;
        margin-top: -3rem;
    }
    
    .utilisation ul {
        background-color: rgb(204, 211, 211);
        border-radius: 15px;
        max-width: 150px;
        /* height: 100px; */
        padding: 0.5rem;
        margin: 1rem;
        list-style: none;
        font-weight: 550;
        font-size: 18px;
    }
}
@media (max-width: 455px) {
    .competence h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 30px;
        margin: -1.5rem ;  
        margin-top: 2rem;  
    }
    .competence .textimg{
        flex-direction: column;
    }
    .textLigne{
        flex-direction: column;
    }
    .textExperiences{
        margin-left: -0.8rem;
        margin-top: 3rem;
    }
    .competence div p {
        font-size: 15px;
        font-weight: 550;
        width: 300px;
    }
    .competence div h5, h6{
        font-size: 18px;
        font-weight: 550;
        max-width: 700px;
    }
        
    .ligneCompetence{
        margin-top: 0.7rem;
    }
    .utilisation h4{
        font-size: 20px;
        font-weight: 550;
        color: #1976D2;
        margin-top: -3rem;
    }
    
    .utilisation ul {
        background-color: rgb(204, 211, 211);
        border-radius: 15px;
        max-width: 150px;
        /* height: 100px; */
        /* padding: 0.5rem; */
        list-style: none;
        font-weight: 550;
        font-size: 18px;
    }
}

/* Portfolio */
#Portfolio{
    margin-top: -3rem;
}

.portfolio h1{
    color:#1976D2;
    font-weight: 550;
    font-size: 60px;
}
.portfolio p{
    font-size: 18px;
    font-weight: 550;
    margin: 2rem;

}
.projet{
    margin-left: 3rem;
}
.carte{
    background-color: rgba(206, 206, 206, 0.39); 
    flex-direction: column;
    max-width: 300px; 
    height: 350px;
    margin:2rem;
    border-radius: 0.8rem;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(109, 109, 109);

}
.cartes{   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.projet img{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin-bottom: 2rem;
    max-width: 300px; 
    height: 250px;
}
.projet a span{
    font-weight: 550;
    text-decoration: none;
    color: black;
    
}
@media (min-width: 481px) and (max-width: 810px) {
    .portfolio h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 45px;
    }
    .carte{
        background-color: rgba(206, 206, 206, 0.39); 
        flex-direction: column;
        width: 300px; 
        height: 350px;
        border-radius: 0.8rem;
        text-align: center;
        box-shadow: 10px 10px 5px rgb(109, 109, 109);
        
    }
    .cartes{   
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        margin-left:-2rem;
    }
    .projet img{
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        margin-bottom: 2rem;
        width: 300px; 
        height: 250px;
    }

}

@media (max-width: 455px){
    #Portfolio{
        margin-top: 0.1rem;
    }
    .portfolio h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 30px;
        margin: -1.5rem ;
    }
    .portfolio p{
        font-size: 15px;
        font-weight: 550;
        width: 300px;
        margin-top: 2rem;
        margin-left: -1.5rem;
    }
    .cartes{
        flex-direction: column;
        margin: 1rem -5rem;
    }

    .carte{
        background-color: rgba(206, 206, 206, 0.39); 
        flex-direction: column;
        width: 290px; 
        min-height: 290px;
        /* margin:2rem; */
        border-radius: 0.8rem;
        /* text-align: center; */
    }
    
    .projet img{
        width: 290px;
        margin-left: 0rem;
    }
    .projet span{
        font-weight: 550;    
        width: 100%;
        font-size: 14px;

    }
}
/* achats */
#Achats{
    /* margin-top: rem; */
}

#Achats h1{
    color:#1976D2;
    font-weight: 550;
    font-size: 60px;
    margin: -1.5rem ;
}
.achats h1{
    color:#1976D2;
    font-weight: 550;
    font-size: 60px;
}

.achats div h4{
    font-size: 14px;
    font-weight: 550;
    /* margin: 1rem; */

}
.achats div p{
    max-width: 60%;
    /* margin: 1rem; */
}
.achats div button{
    border-radius: 12px;
    border: none;
    width: 150px;
    height: 35px;
    font-weight: 550;
    margin-top: 0.4rem;
    background-color: #004e11;
    color:white;
}
.achats div button:hover{
    background-color: #8cfd82;
    color: #000000;
}
.achatLivre{
   /* flex-direction: row; */
   margin: 2rem 4rem;
}
.livres{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.livre{
    background-color: rgba(206, 206, 206, 0.39); 
    flex-direction: column;
    width: 300px; 
    max-height: 450px;
    margin:2rem;
    border-radius: 0.8rem;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(109, 109, 109);
}
.livre img{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    /* margin-bottom: 2rem; */
    min-width: 300px; 
    max-height: 300px;
}

/* achat responsive */

@media (min-width: 481px) and (max-width: 810px) {
    #Achats h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 45px;
        margin: -1.5rem ;
    }

    .livres{
        margin-left: -1rem
    }
    .livre{
        background-color: rgba(206, 206, 206, 0.39); 
        flex-direction: column;
        width: 250px; 
        max-height: 400px;
        margin:2rem;
        border-radius: 0.8rem;
        text-align: center;
        box-shadow: 10px 10px 5px rgb(109, 109, 109);
    }
    .livres{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 3.5rem;
    }

    .livre img{
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        /* margin-bottom: 2rem; */
        min-width: 250px; 
        max-height: 250px;
    }
    
}
@media (max-width: 455px){
    
    .achats h1{
        color:#1976D2;
        font-weight: 550;
        font-size: 30px;
        margin: -1.5rem;
    }
    
    .achats div p{
        display: none;
    }
    .achats .livres{
        margin: 1rem;
    }
    .achats div .livre{
        margin-top: 3rem;
    }
    .achats div h4{
        font-size: 15px;
        font-weight: 550;
        margin: 0.3rem;
    }
    .achats div button{
        border-radius: 12px;
        border: none;
        width: 140px;
        height:35px;
        font-weight: 550;
        font-size: 16px;
        margin-top: 1rem;
        background-color: #004e11;
        color:white;
    }
    .achats div button:hover{
        background-color: #8cfd82;
        color: #000000;
    }
    .livres{
        flex-direction: column;
        margin-left: -7rem;
    }
    .livre{
        background-color: rgba(206, 206, 206, 0.39); 
        flex-direction: column;
        width: 295px;
        height: 380px;    
        margin:-0.8rem;
        border-radius: 0.8rem;
        text-align: center;
        margin-left: -5.3rem;

    }
    .livre img{
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        width: 295px;
        height: 250px;
    }
}

/* Contacter */
#Contact{
    margin-top: -3rem;
}
.contacter h1 {
    color:#1976D2;
    font-weight: 550;
    font-size: 60px;
}
.contacter p{
    font-size: 18px;
    font-weight: 550;
    margin: -1rem 5.5rem 3rem;
}
.contacter span{
    font-weight: 550;
    margin-left: 5rem;
}
.contactemaps{
    display: flex;
    margin-left: 3rem;
}
.formulaire {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 35px;
}
.formulaire label {
    display: block;
    font-weight: 550;
}

.formulaire input,
.formulaire textarea {
    width: 100%;
    padding: 7px;
    width: 220px;
    border-width: 2px;
    
    
}
.formulaire textarea {
    height: 100px;
}
.formulaire button {
    padding: 10px 15px;
    width: 180px;
    background-color: #4CAF50;
    margin-left: 3rem;
    color: white;
    border: none;
    cursor: pointer;
}
iframe {
    margin-top: 2rem;
    margin-left: 7rem;
    width: 130%;
    height: 70%;
}

footer{
    background-color: #1a5f47;
    color: white;
    width: 100%;
    padding: 2rem;
    
}
/* responsive contact */
@media (min-width: 481px) and (max-width: 810px) {
    .contacter h1 {
        color:#1976D2;
        font-weight: 550;
        font-size: 45px;
    
    }
    .contacter p{
        font-size: 16px;
        font-weight: 550;
    
        /* margin-top: 1rem; */
        margin-left: 2rem;
    }
    .contacter form{
        /* margin: rem; */
        margin-top: -2rem;
    }
    .contactemaps{
        flex-direction: column;
    }
    .formulaire {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-left: 5rem;
        margin-top: 1rem;
        margin-bottom: 35px;
    }
    .formulaire label {
        display: block;
        font-weight: 550;
        
    }
    
    .formulaire input,
    .formulaire textarea {
        width: 100%;
        padding: 7px;
        width: 320px;
        border-width: 2px;
        
        
    }
    .formulaire textarea {
        height: 100px;
    }
    .formulaire button {
        padding: 10px 15px;
        width: 180px;
        background-color: #4CAF50;
        margin-left: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }
    iframe {
        width: 650px; 
        height:400px;
        margin: 1rem 3rem;
       
    }
    
    footer{
        background-color: #1a5f47;
        color: white;
        width: 100%;
        padding: 3.5rem;
        margin-top: 2rem;
        font-size: 12px;
        
    }
}
@media (max-width:455px){
    .contacter h1 {
        color:#1976D2;
        font-weight: 550;
        font-size: 30px;
        margin: -1.5rem;
    }
    .contacter p{
        font-size: 16px;
        font-weight: 550;
        width: 300px;
        /* margin-top: 1rem; */
        margin-left: 1.5rem;
    }
    .contacter form{
        /* margin: rem; */
        margin-top: -2rem;
    }
    .contactemaps{
        flex-direction: column;
    }
    .formulaire {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-left: 0rem;
        margin-top: 1rem;
        margin-bottom: 35px;
    }
    .formulaire label {
        display: block;
        font-weight: 550;
    }
    
    .formulaire input,
    .formulaire textarea {
        width: 100%;
        padding: 7px;
        width: 220px;
        border-width: 2px;
        
        
    }
    .formulaire textarea {
        height: 100px;
    }
    .formulaire button {
        padding: 10px 15px;
        width: 180px;
        background-color: #4CAF50;
        margin-left: 3rem;
        color: white;
        border: none;
        cursor: pointer;
    }
    iframe {
        width:100%; 
        height:250px;
        margin: 1rem -1.4rem;
       
    }
    
    footer{
        background-color: #1a5f47;
        color: white;
        width: 100%;
        padding: 3.5rem;
        margin-top: 2rem;
        font-size: 12px;
        
    }
}
/* footer */
/* popup */
.connexionP, .overlay{
    height: 100;
    width: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    
}
.overlay {
    background-color: #0d0e0e81;
}

.formulaireConnexion{
    position: absolute;
    left: 28%;
    top: 10%;
    line-height: 1.4;
    padding: 15px 30px;
    min-width: 600px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 12px;
    color:#030303
}
.formulaireContact{
    position: absolute;
    left: 28%;
    top: 15%;
    line-height: 1.3;
    padding: 15px 30px;
    min-width: 600px;
    max-width: 300px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 12px;
    color:#030303;
    z-index: 10;
}
.xFormulaire{
    position: absolute;
    top: 25px;
    right: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
}
/* popUp responsive */
@media (min-width: 481px) and (max-width: 810px) {

    .formulaireConnexion{
        position: absolute;
        left: 15%;
        top: 10%;
        line-height: 1.4;
        padding: 15px 30px;
        min-width: 550px;
        max-width: 300px;
        background-color: rgba(255, 255, 255, 0.959);
        border-radius: 12px;
        color:#030303
    }
    .formulaireContact{
        position: absolute;
        left: 15%;
        top: 15%;
        line-height: 1.4;
        padding: 15px 30px;
        min-width: 550px;
        max-width: 300px;
        height: 625px;
        background-color: rgba(255, 255, 255, 0.959);
        border-radius: 12px;
        color:#030303;
        z-index: 10;
    }
}
@media (max-width:455px){
    .formulaireConnexion{
        position: absolute;
        left: 8%;
        top: 10%;
        line-height: 1.4;
        padding: 15px 30px;
        min-width: 300px;
        max-width: 300px;
        background-color: rgba(255, 255, 255, 0.959);
        border-radius: 12px;
        color:#030303
    }
    .formulaireContact{
        position: absolute;
        left: 8%;
        top: 15%;
        line-height: 1.4;
        padding: 15px 30px;
        min-width: 300px;
        max-width: 300px;
        height: 625px;
        background-color: rgba(255, 255, 255, 0.959);
        border-radius: 12px;
        color:#030303;
        z-index: 10;
    }
   

}
.question{
    position: absolute;
    left: 32%;
    top: 8rem;
    line-height: 1.4;
    padding: 15px 30px;
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 12px;
    color:#030303;
    
}

/* message */
.message{
    /* margin:2rem; */
    display: flex;
}

#Message h1{
    color: #1976D2;
    margin-left: 2rem;
    font-weight: 550;
}

.message li{
    text-align: center;
    width: 30%;
    /* margin: 3rem; */
    list-style: none;
    border: #273f2c 1px solid;
    background-color: rgba(75, 248, 6, 0.082);
    min-height: 15px;
}
.messageRecu{
    display: flex;
    align-items: center;
}

.messageRecu li{
    text-align: center;
    width: 30%;
    min-height: 50px;
    margin: 0;
    list-style: none;
    border: #273f2c 1px solid;
}

#DernierConnexion h1{
    color: #1976D2;
    margin-left: 2rem;
    font-weight: 550;
    margin-top: 2rem;
}

#Collaborations h1{    
    color:#1976D2;
    font-weight: 550;
    font-size: 60px;    
    margin-left: 3rem;
}

#Collaborations div {
    display: flex;
    justify-content: center;
}

#Collaborations div img {
    border-radius: 50%;
    width: 190px;
    height: 170px;
    margin: 3rem 4rem 3rem ;
    filter: blur(2px);
    transition: filter 0.9s;
}

#Collaborations div img:hover{
    filter: blur(0);
}
.collabText{
    flex-direction: column;
    text-align: center;
    max-width: 800px;
}

.collabText span{
    font-weight: 550;
    margin-bottom: 1rem;
    font-size: 25px;
}
.collabText p{
    font-size: 22px;
}
.commentInput {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 15px;
    margin-top: 2rem;
    max-height: 50px;
}

.commenter {
    flex: 1;
    border: none;
    padding: 5px;
    margin-right: 5px;
    width: 400px;
}
 
.jaime{
    width: 25px;
    height: 25px;
}

.voir{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.voir:hover{
    color: #1976D2;
    cursor: pointer;
}

.iconVoir {
    font-size: 16px;
    margin-top: 0.9rem;
}
.iconVoir:hover{
    cursor: pointer;
}

.listCommentaire ul {
    display: flex;
    flex-direction: column;
    
}

.nombreJaime{
    color: #1976D2;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 0.8rem;     
}
@media (min-width: 481px) and (max-width: 810px) {
    #Collaborations h1{    
        color:#1976D2;
        font-weight: 550;
        font-size: 45px;    
        margin-left: 3rem;
    }

    .collabText{
        flex-direction: column;
        text-align: center;
        max-width: 800px;
        margin-top: 2rem;
    }
    
    .collabText span{
        font-weight: 550;
        margin-bottom: 1rem;
        font-size: 22px;
    }
    .collabText p{
        font-size: 18px;
        margin: 2rem;
    }

    #Collaborations div img {
        border-radius: 50%;
        width: 130px;
        height: 95px;
        margin: 1rem 2rem 1rem ;
        filter: blur(1px);
        transition: filter 0.9s;
    }
}
@media (max-width: 455px) {
    #Collaborations h1{    
        color:#1976D2;
        font-weight: 550;
        font-size: 30px;    
        margin-left: 3rem;
    } 

    #Collaborations div img {
        border-radius: 50%;
        width: 100px;
        height: 70px;
        margin: 1rem  1rem ;
        /* filter: blur(2px); */
        /* transition: filter 0.9s; */
    }  
    #Collaborations div img:hover{
        filter: blur(0);
    } 

    .collabText{
        flex-direction: column;
        text-align: center;
        max-width: 400px;
    }
    
    .collabText span{
        font-weight: 550;
        margin-bottom: 1rem;
        font-size: 18px;
        margin-top:2rem
    }
    .collabText p{
        font-size: 15px;
        margin: 2rem;
    }
    .commentInput {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 15px;
        margin-top: 2rem;
        max-height: 50px;
    }
    
    .commenter {
        flex: 1;
        border: none;
        padding: 5px;
        margin-right: 5px;
        width: 260px;
    }
}

#AjouterProjets h1{
    color:#1976D2;
    font-weight: 550;
    font-size: 40px;    
    margin-left: 2rem;   
}